@using teamakari2018mvc.Business
@model DamasarenModel
@{
    ViewData["Title"] = "Home page";
}

<div id="content">
  <form method="post" enctype="multipart/form-data" asp-controller="Damasaren" asp-action="OnPost" name="postform">
           
  <table width="100%">
    <tr>
        <td style="height:50px">
          <!-- blank --> 
        </td>
    </tr>
    <tr>
        <td>
          <label for="uploadFile" class="button" >
              音声を選択する
              <input type="file"  name="uploadFile"  id="uploadFile" style="display:none"/>
          </label>
        </td>
        <td style="text-align:center">
          <img src="/images/arrow.png" style="width:60%;height:60%;"/>
        </td>
        <td>
          <a href= "#" class="button" onclick="javascript:postform.submit()">詐欺判定する</a>
        </td>
        <td style="text-align:center">
          <img src="/images/arrow.png" style="width:60%;height:60%;"/>
        </td>
        <td>
          <a href= "#" class="buttonRed">警察に相談する</a>
        </td>
    </tr>
  </table>
  </form>

   <table table width="1200px" >
    <tr>
      <td style="height:30px"></td>
    </tr>
    <tr>
      
      <td style="width:400px;height:300px;font-size:1.2em;margin:30px 50px;">@Model.resultMessage</div></td>
      <td style="width:400px;text-align:center;margin:30px 50px;">
          <!-- <textarea id="keyPrase" style="display: inline-block;width:500px;height:300px"> -->
            @foreach(DangerData p in @Model.keyPhrases)
            {
              @if(@p.dangerRitsu > 80){
                <p style="width:200px;background-color:#ff4a4a;color:white;font-size:2.5em;margin-left:50px;font-weight:bold">@p.dangerPhrase</p>
              }else if(@p.dangerRitsu <= 80 && @p.dangerRitsu > 50){
                <p style="width:200px;background-color:yellow;font-size:2.0em;margin-left:50px">@p.dangerPhrase</p>
              }else{
                <p style="width:200px;font-size:1.0em;margin-left:50px">@p.dangerPhrase</p>
              }

            }
          
          <!-- </textarea> -->
        </td>
        <td style="width:400px;text-align:center">
            @if(@Model.displaykbn == 3){
              <img src="/images/kiken.png" style="width:50%;height:50%;"/>
            }else if(@Model.displaykbn == 2){
              <img src="/images/tyuui.png" style="width:50%;height:50%;"/>
            }else if(@Model.displaykbn == 1){
              <img src="/images/anzen.png" style="width:50%;height:50%;"/>
            }
        </td>
      
    </tr>

     <tr>
      <td></td>
      <td></td>
      <td align="right" valign="top"></td>
    </tr>
  </table>
</div>